$border-solid-darkGrey: thin solid #777;
$border-solid-lightGrey: thin solid #aaa;

.slideshows-summaries{
  padding: 0.5em;
  float: left;
  background: #ccc;
  margin-left: auto;
  margin-right: auto;
  border-left: $border-solid-darkGrey;
  border-bottom: $border-solid-darkGrey;
  border-top: $border-solid-lightGrey;
  border-right: $border-solid-lightGrey;
}

.slideshows-summary{
  padding: 0.5em;
  margin: 0.5em;
  width: 25em;
  float: left;
  background: #ddd;
  border-left: $border-solid-darkGrey;
  border-bottom: $border-solid-darkGrey;
  border-top: $border-solid-lightGrey;
  border-right: $border-solid-lightGrey;
}

.slideshows-thumbnail{
  padding: 0.50em;
  background: #eee;
  border-left: $border-solid-lightGrey;
  border-bottom: $border-solid-lightGrey;
  border-top: $border-solid-darkGrey;
  border-right: $border-solid-darkGrey;
}

.slideshows-caption{
  background: #edd;
  font-size: 1.0em;
  border-left: $border-solid-lightGrey;
  border-bottom: $border-solid-lightGrey;
  border-top: $border-solid-darkGrey;
  border-right: $border-solid-darkGrey;
}

.slideshows-controls{
  margin-top: 0.50em;
  padding: 0.25em;
  border-left: $border-solid-darkGrey;
  border-bottom: $border-solid-darkGrey;
  border-top: $border-solid-lightGrey;
  border-right: $border-solid-lightGrey;
}

#slideshow-contents{
  float: left;
  width: 11em;
  padding:0.5em;
  text-align: center;
  border-right: thin solid #bbb;
  padding-bottom: 10em;
}

#sortable_thumbs li{
  margin-bottom: 1.5em;
}

#slideshow-attributes {
  margin-left: 13em;
  padding-left: 1.5em;
  padding-top: 1.5em;
  display: block;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

.sortable {
  display: list-item;
}
